<% form_tag({:action=>"do_config_colors"}) do %>

  <h2><%= @subtitle %></h2>

  <p style="color: green"/><%=flash[:notice]%></p>

  <table>
  <% @colors.each_pair do |element, color| %>
    <tr>
      <td><%= element %></td>
      <% [:red, :green, :blue].each do |rgb| %>
        <td> <%=rgb.to_s%> <%= text_field_tag "colors[#{element}][#{rgb}]", color[rgb], 
                    :size => 3, :class => "nice" %></td>
      <% end %>
      <td><%= link_to "Reset", :action => :reset_color, :element => element%></td>
    </tr>
  <% end %> 
  </table>
  
  <br/><%= submit_tag %>
  
<% end %>

<% unless @not_configured.empty? %>
  <% form_tag({:action=>:add_color_config}) do %>

    <p>Other feature classes: (default value: 0.8 for red, green and blue) <br/>
    <%= collection_select :feature_class, :id, @not_configured, :id, :name %>
    <%= submit_tag "Configure colors" %></p>
        
  <% end %>
<% end %>

<%= button_to "Create new feature class", :action => :create_feature_class %>