<h1>Configuration</h1>

<% form_tag({:action=>"do_config_formats"}) do %>

  <h2>Drawing Formats</h2>

  <table>
  <% @formats.pixel_attribute_names.each do |attr| %>
    <tr>
      <td><%= attr.humanize %></td>
      <td><%= text_field_tag "format[#{attr}]", @formats.send(attr), 
                                       :size => 5, :class => "nice" %></td>
      <td>pixel <%= DrawingFormatConfiguration.helptext(attr) %></td>
    </tr>
  <% end %>
    <tr>
      <td>Show grid</td>
      <td><%=check_box_tag "format[show_grid]", true, @formats.show_grid %></td>
      <td><%= DrawingFormatConfiguration.helptext("show_grid") %></td>
    </tr>
  </table>
  
  <%= submit_tag %>
  
<% end %>

  <br/><%= button_to "Reset to default", :action => :do_reset_formats%>