<h1>Configuration</h1>

<% form_tag({:action=>"do_config_styles"}) do %>

  <h2>Styles</h2>

  <table>
  <% @styles.each_pair do |element, style_name| %>
    <% @style = Style.find_by_name(style_name) %>
    <tr>
      <td><%= element %></td>
      <td><%= collection_select :style, :id, Style.find(:all), :id, :name, {}, {:name => "styles[#{element}]"}%></td>
      <td><%= link_to "default", :action => :reset_style, :element => element%></td>
     </tr>
  <% end %> 
  </table>
  
  <br/><%= submit_tag %>
  
<% end %>

<p><%= button_to "Add new feature class", :action => :add_feature %></p>