<h1>Configuration</h1>

<% form_tag({:action=>"do_config_styles"}) do %>

  <h2>Styles</h2>

  <table>
  <% @styles.each_pair do |element, style_name| %>
    <% @style = Style.find_by_name(style_name) %>
    <tr>
      <td><%= element %></td>
      <td><%= collection_select :style, :id, Style.find(:all), :id, :name, {}, {:name => "styles[#{element}]"}%></td>
      <td><%= link_to "default", :action => :reset_style, :element => element%></td>
     </tr>
  <% end %> 
  </table>
  
  <br/><%= submit_tag %>
  
<% end %>

<% unless @not_configured.empty? %>
  <% form_tag({:action=>:add_style_config}) do %>

    <p>Other feature classes: <br/>
    <%= collection_select :feature_class, :id, @not_configured, :id, :name %>
    <%= submit_tag "Configure style" %></p>
    
  <% end %>
<% end %>

<p><%= button_to "Create new feature class", :action => :create_feature_class %></p>