<h1>Configuration</h1>

<h2>Create new Feature class</h2>

<p>If in your GFF3 files there is a feature class not yet included in
the configuration pages, you can add its name to the list. This feature
class will be available for configuration for all users of this website.</p>

<h3>Feature classes</h3>

<p style="color:green"><%=flash[:notice]%></p>
<p style="color:red"><%=flash[:errors]%></p>

<p><%= FeatureClass.find(:all).map(&:name).join("<br/>") %></p><br/>

<% form_tag({:action=>"do_create_feature_class"}) do %>

  <%= text_field_tag "feature_class[name]", "" %> 

  <%= submit_tag "Create"%>

<% end %>