<% User.find(session[:user]).annotations.each do |annotation| %>
  <table width="100%" style=" border: 1px black solid;">
    <tr>
      <td colspan="2" style="color:white; background-color:rgb(60%, 60%, 90%); padding-left: 10px">
        <%= annotation.name %>
      </td>
    </tr>
    <tr>
      <td colspan="2" style=" border: 1px black solid;">
        <u>Contains:</u><br/>
        <%= annotation.sequence_regions.map(&:seq_id).join(", ")%>
        </td>
    </tr>
    <tr>
      <td colspan="2" >Description:<br/>
      <% form_tag({:action => 'change_annotation_description'}, 
                 :multipart => true) do %>
        <%= hidden_field_tag 'annotation', annotation.id %>
        <%= text_area_tag "description", 
                        annotation.description, 
                        :size => "50x5",
                        :class => "nice" %>
        <br/>
        <%= submit_tag  "Save description" %>
      <% end %>
      </td>
    </tr>
    <tr>
      <td style=" border: 1px black solid;">Accessibility:<br/>
      
      <input type="radio" name="access_<%=annotation.id%>" value="Private"
       <%="checked='checked'" unless annotation.public %>
       onclick="location.href='<%=
        url_for :action => "file_accessibility",
        :public => false,
        :annotation => annotation.id 
        %>'" />Private
        
      <input type="radio" name="access_<%=annotation.id%>" value="Public"
       <%="checked='checked'" if annotation.public %>
       onclick="location.href='<%=
        url_for :action => "file_accessibility",
        :public => true,
        :annotation => annotation.id 
        %>'" />Public
      
      </td>
      
      <td align="center" style=" border: 1px red dashed;">
      <input type="button" name="del" value="Delete File" 
       onclick="location.href='<%=
        url_for :action => "file_delete", :annotation=> annotation.id
        %>'"/>
      </td>
    </tr>
  </table>
  <br/>
<% end %>