<h2><%= @subtitle%></h2>

<p>The following features are dominated by <%= @dominator.name%>:</p>
<table>
  <% @dominated.each do |feature_class_name| %>
  <tr>
    <td><%= feature_class_name %></td>
    <td><%= link_to "(remove)", :action => :dominated_remove, :dominator => @dominator.name, 
                      :feature_class_name => feature_class_name%></td>
    </tr>
  <% end %>
</table>

<% unless @not_dominated.empty? %>
  <% form_tag({:action=>:dominated_add, :dominator => @dominator.name}) do %>

    <p>Other feature classes:<br/>
    <%= collection_select :feature_class, :id, @not_dominated, :id, :name %>
    <%= submit_tag "Add as dominated" %></p>
    
    
  <% end %>
<% end %>

<%= button_to "Return to dominations page", :action => :config_dominations %>
<br/>
<%= button_to "Reset this domination list", :action => :reset_dominated_list, :dominator => @dominator.name %>
<br/>
<%= button_to "Create new feature class", :action => :create_feature_class %>
