<h1>Upload Files</h1>
<% form_tag({:action => 'do_upload'}, :multipart => true) do %>
 <%= file_field_tag "gff3_file" %><br/>
 <%= text_area_tag "description" %>
 <%= submit_tag  "Save" %>
 <p style="color:red"><%= flash[:errors] %></p>
 <p style="color:green"><%= flash[:notice] %></p>
<% end %>