<h1>Viewing: <%=Annotation.find(params[:annotation]).name%> / <%=SequenceRegion.find(params[:seq_region]).seq_id%></h1>
<center>
<table>
<tr>
 <td colspan="3" align="center">
  <%= link_to("Zoom (+)", :action=> :view, 
                          :annotation=>params[:annotation], 
                          :seq_region=>params[:seq_region],
                          :seq_begin=>params[:seq_begin].to_i+50, 
                          :seq_end=>params[:seq_end].to_i-50) %>
 </td>
</tr>
<tr>
 <td>
  <%= link_to("<<", :action=> :view, 
                    :annotation=>params[:annotation], 
                    :seq_region=>params[:seq_region],
                    :seq_begin=>params[:seq_begin].to_i-100, 
                    :seq_end=>params[:seq_end].to_i-100) %>
 </td>
 <td>
  <%= image_tag(url_for(:action=>:png_image,
                         :annotation=>params[:annotation],
                         :seq_region=>params[:seq_region],
                         :seq_begin=>params[:seq_begin],
                         :seq_end=>params[:seq_end]), 
                :border => 0) %>
 </td>
 <td>
  <%= link_to(">>", :action=> :view, 
                    :annotation=>params[:annotation], 
                    :seq_region=>params[:seq_region],
                    :seq_begin=>params[:seq_begin].to_i+100, 
                    :seq_end=>params[:seq_end].to_i+100) %>
 </td>
</tr>
<tr>
 <td colspan="3" align="center">
  <%= link_to("Zoom (-)", :action=> :view, 
                          :annotation=>params[:annotation], 
                          :seq_region=>params[:seq_region],
                          :seq_begin=>params[:seq_begin].to_i-50, 
                          :seq_end=>params[:seq_end].to_i+50) %>
 </td>
</tr>
</table>
</center>