 <% counter = @seq_ids_per_line %>
 <table>
 <% @sequence_regions.each do |region| %>
 <%= "<tr>" if (counter % @seq_ids_per_line) == 0 -%>
 <td>
  <%= link_to region.seq_id, {:action=> "browser",
                                        :annotation =>  params[:annotation],
                                        :seq_region => region.id},
                                       {:target => "browser",
                                        :class=>'seq_id',
                                        :style => "text-decoration: none;"}  %>
  </td>
  <% counter = (counter == 1) ? @seq_ids_per_line : counter-1 %>
  <%= "</tr>" if (counter % @seq_ids_per_line) == 0 -%>
  <% end %>
  <%# add the resting td to have a conform table %>
  <% unless counter == @seq_ids_per_line %>
   <% counter.downto(1) do %>
    <td></td>
   <% end %>
   </tr>
  <% end %>
 </table>
 
<hr/>

<% iframe_source = url_for :action => "browser",
        :annotation => params[:annotation],
        :seq_region => Annotation.find(params[:annotation]).sequence_region_ids[0] -%>
        
<iframe name="browser" id="browser" src="<%= iframe_source %>" 
  width="<%=@width%>" height="600" scrolling="no"></iframe>