<ul>
<% form_tag({:controller => "login",
                              :action=>"do_login"}) do %>
  <li>Email:</li>
  <li><%= text_field_tag "email", 
                              nil, # (default value)
                              :maxlength => 64,
                              :size => 20%></li>
  <li>Password:</li>
  <li><%= password_field_tag "password", 
                                    nil, # (default value)
                                    :maxlength => 64,
                                    :size => 20%></li>
  <li><%=check_box_tag "stay_logged"%>Remember me</li>
  <li><%=submit_tag "Login"%></li>
<% end %>
  <li><%= link_to "Register", registration_url %></li>
  <li><%= link_to "Browse Files", public_files_url %></li>
  <li><%= link_to "I forgot my<br/>password!", recover_password_url %></li>
</ul>