<ul>
  <li><%= link_to "Register", registration_url %></li>
  <li><%= link_to "Public Files", public_files_url %></li>
  <li><%= link_to "Recover password", recover_password_url %></li>
<% form_tag(login_url({:back_to => params}), :style => 'display:inline') do -%>
  <li>User:</li>
  <li><%= text_field :user, 
                     :username, 
                     :maxlength => 64,
                     :size => 12,
                     :class => "nice" %></li>
  <li>Pass:</li>
  <li><%= password_field :user,
                         :password,
                         :maxlength => 64,
                         :size => 12,
                         :class => "nice" %></li>
  <li><%=submit_tag "Login"%></li>
<% end -%>
</ul>