<div id="command_bar">
  <span class="cb_title">Settings</span>
  &nbsp;&nbsp;(<%= link_to_visibility_toggle :of => "$('command_form')", 
                                             :default_visible => false %>)
  <% form_tag({:action => :index, 
                    :username => @annotation.user.username,
                    :annotation => @annotation.name, 
                    :seq_region => @sequence_region.seq_id, 
                    :method => :get}, 
                    {:id => "command_form", 
                     :style => "display: none;"}) do -%>
    <table>
      <tr>
        <td colspan=2>
          <%= seq_id_selector %> - 
          Start:<%= text_field_tag 'start_pos', @start, 
                                   :size => 10, 
                                   :class => "nice" %> - 
          End:<%= text_field_tag 'end_pos', @end, 
                                 :size => 10, 
                                 :class => "nice" %> - 
          Image width (px):<%= text_field_tag 'width', @width, 
                                              :size => 10, 
                                              :class => "nice" %>
        </td>
      </tr>
      <%= render :partial => "feature_type_in_annotation", 
                     :collection => @annotation.feature_type_in_annotations %>
    </table>
    <%= submit_tag  "Update Image" %>
  <% end -%>
</div>
