<% ftn = feature_type_in_annotation.feature_type.name -%>
<tr>
  <td>
    <strong><%= ftn %></strong>
  </td>
  <td>
    - show? <%= check_box_tag "ft[#{ftn}][show]", "true", {}, :class => "ft_table_cb" %> 
    <%= hidden_field_tag "ft[#{ftn}][show]", "false" %>
    (up to <%= text_field_tag "ft[#{ftn}][max_show_width]", "", :size => 10, :class => "nice ft_table_text" %> nt)
    - with caption? <%= check_box_tag "ft[#{ftn}][capt]", "true", {}, :class => "ft_table_cb" %> 
    <%= hidden_field_tag "ft[#{ftn}][capt]", "false" %>
    (up to <%= text_field_tag "ft[#{ftn}][max_capt_show_width]", "", :size => 10, :class => "nice ft_table_text" %> nt)
  </td>
</tr>