<div id="viewer">
  <%= render :partial => "meta_info" %>
  <div>
    <%= render :partial => "command_bar" %>
    <%= render :partial => "feature_types_table" %>
    <%= render :partial => "orientation_bar" %>
    <%= render :partial => "image" %>
  </div>
</div>