<div id="viewer">
  <%= render :partial => "meta_info" %>
  <div>
    <%= render :partial => "settings_bar" %>
    <%= render :partial => "buttons_bar" %>
    <%= render :partial => "orientation_bar" %>
    <%= render :partial => "image" %>
  </div>
</div>