<h1>Login</h1>

<p style="color:green"><%=flash[:notice]-%></p>
<p style="color:red"><%=flash[:errors]-%></p>

<% form_tag({:action=>"do_login"}) do %>
  <table>
    <tr>
      <td>Email:</td>
      <td><%= text_field_tag "email", 
              nil, # (default value)
              :maxlength=>64,
              :class => "nice"              %></td>
    </tr>
    <tr>
      <td>Password:</td>
      <td><%= password_field_tag "password", 
              nil, # (default value)
              :maxlength=>64,
              :class => "nice"              %></td>
    </tr>
    <tr>
      <td colspan="2"><%=submit_tag "Login"%></td>
    </tr>
  <table>
<% end %>
