<% form_tag({:action=>"update_password"}) do -%>

  <h2><%= @subtitle %></h2>

  <table>
     <tr>
      <td colspan=2>Use this form if you want to change your password.</td>
    </tr>
    <tr>
      <td>Type your old password:</td>
      <td><%= password_field_tag 'old', '',
                      :maxlength => 40, :size=> 24, :class => "nice"  %></td>
    </tr>
    <tr>
      <td>Enter your new password:</td>
      <td><%= password_field_tag 'new', '', 
                      :maxlength => 40, :size=> 24, :class => "nice"  %></td>
    </tr>
    <tr>
      <td>Confirm your new password:</td>
      <td><%= password_field_tag 'confirm', '',
                      :maxlength => 40, :size=> 24, :class => "nice"  %></td>
    </tr>
    <tr>
      <td><%= submit_tag "Change password" %></td>
      <td><%= link_to "Cancel", account_url %></td>
    </tr>
  </table>
    
<% end -%>

