<?xml version="1.0" encoding="utf-8"?>

<!DOCTYPE html
     PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
     "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
 <head>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8" />	
  <%= title_tag %>
  <%= stylesheet_link_tag "genomeviewer" %>
  <%= javascript_include_tag :defaults %>
  <%= javascript_include_tag "boxover" %>
  <%= active_scaffold_includes %>
  <%= stylesheet_link_tag "active_scaffold_overrides" %>
 </head>
 <body>
  <div id="menu"><%= render :partial => "shared/menu" %></div>
  <div id="main">
  <h1><%=@title || "GenomeViewer"%></h1>
  <p style="color:red;"><%=flash[:errors]%></p>
  <p style="color:green;"><%=flash[:info]%></p>
  <%= yield %>
  </div>
 </body>
</html>